<?xml version="1.0"?>
 <menu>
    <platillo>
       <descripcion>Enchiladas</descripcion>
       <tipo>Mexicano</tipo>
       <precio>60</precio>
    </platillo>
    <platillo>
       <descripcion>Spaguetti</descripcion>
       <tipo>Europea</tipo>
       <precio>120</precio>
    </platillo>
    <platillo>
       <descripcion>Pozole</descripcion>
       <tipo>Mexicano</tipo>
       <precio>70</precio>
    </platillo>
    <platillo>
       <descripcion>Sopes</descripcion>
       <tipo>Mexicana</tipo>
       <precio>30</precio>
    </platillo>
    <platillo>
       <descripcion>Pizza</descripcion>
       <tipo>Americana</tipo>
       <precio>180</precio>
    </platillo>
    <platillo>
       <descripcion>Hamburguesas</descripcion>
       <tipo>Americana</tipo>
       <precio>60</precio>
    </platillo>
 </menu>